<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/stylesheets/module.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>noCapReviews</title>
</head>

<body>
    <div class="container">
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div class="navbar">
        <div class="logo">
          <img src="/images/logo.jpg" alt="noCapReviews Logo" id="logo">
        </div>
        <div class="search">
          <form id="search" action="index.html" method="post">
            <input id="search-bar" type="search" placeholder="Search for modules" type="text">
          </form>
        </div>
      </div>
      <div class="mod">
        <h1><%= data.moduleCode %> <span><%= data.title %> </span></h1>
        <div class="details1">
          <h5><%= data.department %> • <%= data.faculty %> • <%= data.moduleCredit %> MCs</h5>
        </div>
        <div class="Description1">
          <h2>Description</h2>
        </div>
      </div>
      <hr>
      <div class="Description2">
        <p><%= data.description %></p>
      </div>
      <div class="Sentiment">
        <h2>Overall Sentiments</h2>
        <hr>
        <div class="Sentiment2">
          <div class="titles">
            <h2>Difficulty</h2>
            <h2>Workload</h2>
            <h2>Teaching Staff</h2>
            <h2>Overall Experience</h2>
          </div>
          <div class="ratings">
            <div class="rating">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-empty.png" alt="cap-filled">
            </div>
            <div class="rating">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-empty.png" alt="cap-filled">
            </div>
            <div class="rating">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-empty.png" alt="cap-filled">
            </div>
            <div class="rating">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-filled.png" alt="cap-filled">
              <img src="/images/cap-empty.png" alt="cap-filled">
              <img src="/images/cap-empty.png" alt="cap-filled">
            </div>
          </div>
        </div>

      </div>
      <div class="Forum">
        <h2>Forum</h2>
        <hr>
        <div class="Forum2">
          <div class="comment">
            <img src="/images/seal.jpg" alt="user-dp">
            <div class="content">
              <div class="details">
                <h3>John Cena</h3>
                <span class="badge">20/21 Sem 1</span>
                <span class="badge">Life Science</span>
              </div>
              <p>It was meant to be an introductory module to programming in python.
                 As a beginner in python programming, I struggled a lot at the start of the module but thanks to the helpful professors and TAs i managed to keep up with the content.
                 Overall it was a good experience and I would recommend you to take this if youre interested in python programming.
                 The overall sentiments are in line with what i felt about this module.
              </p>
            </div>
          </div>
          <div class="comment">
            <img src="/images/peeposcooter.png" alt="user-dp">
            <div class="content">
              <div class="details">
                <h3>Chuck Norris</h3>
                <span class="badge">19/20 Sem 1</span>
                <span class="badge">Business Analytics</span>
              </div>
              <p>Delivery of module is quite different from other modules as it uses the concept of gamification through the Coursemology Platform. Made it less boring to complete the missions and assignments. Workload is pretty heavy with all the missions and consistent effort is definitely needed to do well in this module. Teaching staff are patient and generally willing to help anyone clear their doubts. I agree with the overall sentiment of this module but those with prior experience with python or programming in general would definitely find the module to be easier than the overall sentiment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>
