<section class="text-light" id="forum">
  <h2>Forum</h2>
  <hr />
  
  <% if (!currentUser) { %> 
    <!-- Log In Prompt -->
  <article class= "card text-light bg-dark">
    <div class="card-body">
      <h5 class="text-primary d-flex justify-content-between align-items-center">
        Log in to leave a comment! 
        <a class="btn btn-primary" href="/user/login" role="button">Log In</a>
      </h5>
    </div>
  </article>
  <% } else { %>
  <!-- Create a new comment code below -->
  <article class="card text-light bg-dark">
    <div class="card-body">
      <h5 class="card-title text-primary mb-3">Join the discussion here!</h5>
      <form class="validated-form" action="/modules/<%= data.moduleCode %>/comment" method="POST" novalidate>
        <div class="row mb-1 g-2">
          <div class="col-md-4">
            <label for="username" class="form-label">Username</label>
            <input
              class="form-control"
              type="text"
              name="comment[author]"
              id="username"
              value="<%= currentUser.username %> "
              readonly
              required
            />
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="col-md-4">
            <label for="semester" class="form-label">Semester</label>
            <select class="form-select" list="listOfSemesters" name="comment[semester]" id="semester" placeholder="Select a Semester" required>
              <option value="AY 20/21 Sem 2">AY 20/21 Sem 2</option>
              <option value="AY 20/21 Sem 1">AY 20/21 Sem 1</option>
              <option value="AY 19/20 Sem 2">AY 19/20 Sem 2</option>
              <option value="AY 19/20 Sem 1">AY 19/20 Sem 1</option>
              </select>
            <div class="invalid-feedback">
              Please choose a semester.
            </div>
          </div>
          <div class="col-md-4">
            <label for="major" class="form-label">Major</label>
            <input
              class="form-control"
              list="listOfMajors"
              name="comment[major]"
              id="major"
              placeholder="Type to search.."
              value= "<%= currentUser.major %> "
              readonly
              required
            />
            <datalist id="listOfMajors">
              <% for (major of majors) { %> 
                <option value="<%= major %>"></option>
              <% } %> 
            </datalist>
            <div class="invalid-feedback">
              Please choose a major.
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <label for="body" class="form-label">Comment</label>
            <textarea
              class="form-control"
              name="comment[body]"
              id="body"
              rows="4"
              placeholder="Ask, validate, and comment on the overall sentiments of the module here.&#10;Feel free to share your personal experiences regarding the module or a teaching staff!"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please type a comment.
            </div>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </article>
  <% } %> 
  <!-- Display number of comments -->
  <h2>
    <%= (comments.forum.length===1) ? `${comments.forum.length} Comment` :
    `${comments.forum.length} Comments` %>
  </h2>
  <!-- If no comments exists -->
  <% if (comments.forum.length === 0) { %> 
    <div class="row g-0 align-items-center justify-content-center mt-5">
      <div class="col-md-3">
        <img src="/images/peepochat.gif" alt="chattingGif">
      </div>
      <div class="col-md-7">
        <h3 id="noCommentMessage">Be the first one to comment on this module!</h3>
      </div>
    </div>
  <% } %> 
  <!-- Listing out all comments that exist -->
  <div class="row g-2 mt-3">
    <% for (comment of comments.forum) { %>
    <article class="card bg-transparent border-0 col-12 mb-3">
      <div class="row mt-2">
        <div class="col-md-1 me-1">
          <img src="/images/mizkifjog.gif" alt="userProfileImage" class="userImage" />
        </div>
        <div class="col-md-9 ms-2 me-5">
          <div id="details">
            <h3 class="d-inline me-1"><%= comment.author %></h3>
            <span class="badge rounded-pill bg-info text-dark mx-1">
              <%= comment.semester %>
            </span>
            <span class="badge rounded-pill bg-danger text-dark mx-1"">
              <%= comment.major %>
            </span>
          </div>
          <p id="commentBody"><%= comment.body %></p>
        </div>
        <%  if( currentUser && comment.author.trim() === currentUser.username.trim())  {%>
        <div class="col-md-1 ms-5 ps-5 pe-0">
          <a class="btn btn-sm btn-warning" href="/modules/<%= data.moduleCode %>/<%=comment._id %>"><strong>Edit</strong></a>
        </div>
        <% } %> 
      </div>
    </article>
    <% } %>
  </div>
</section>
