<section class="text-light" id="forum">
  <h2>Forum</h2>
  <hr />
  <!-- Create a new comment code below -->
  <article class="card text-light bg-dark">
    <div class="card-body">
      <h5 class="card-title text-primary mb-3">Join the discussion here!</h5>
      <form action="<%= data.moduleCode %>/newComment" method="POST">
        <div class="row mb-1 g-2">
          <div class="col-md-4">
            <label for="username" class="form-label">Username</label>
            <input
              class="form-control"
              type="text"
              name="author"
              id="username"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="semester" class="form-label">Semester</label>
            <select class="form-select" name="semester" id="semester" required>
              <option value="AY 20/21 Sem 2">AY 20/21 Sem 2</option>
              <option value="AY 20/21 Sem 1">AY 20/21 Sem 1</option>
              <option value="AY 19/20 Sem 2">AY 19/20 Sem 2</option>
              <option value="AY 19/20 Sem 1">AY 19/20 Sem 1</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="major" class="form-label">Major</label>
            <input
              class="form-control"
              list="listOfMajors"
              name="major"
              id="major"
              placeholder="Type to search.."
              required
            />
            <datalist id="listOfMajors">
              <% for (major of majors) { %> 
                <option value="<%= major %>"></option>
              <% } %> 
            </datalist>
          </div>
          <div class="col-md-12 mb-2">
            <label for="body" class="form-label">Comment</label>
            <textarea
              class="form-control"
              name="body"
              id="body"
              rows="3"
              required
            ></textarea>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </article>
  <!-- Display number of comments -->
  <h2>
    <%= (comments.forum.length===1) ? `${comments.forum.length} Comment` :
    `${comments.forum.length} Comments` %>
  </h2>
  <!-- If no comments exists -->
  <% if (comments.forum.length === 0) { %> 
    <div class="row g-0 align-items-center justify-content-center mt-5">
      <div class="col-md-3">
        <img src="/images/peepochat.gif" alt="chattingGif">
      </div>
      <div class="col-md-7">
        <h3 class="text-primary">Be the first one to comment on this module!</h3>
      </div>
    </div>
  <% } %> 
  <!-- Listing out all comments that exist -->
  <div class="row g-2 mt-3">
    <% for (comment of comments.forum) { %>
    <article class="card bg-transparent border-dark col-12">
      <div class="row mt-2">
        <div class="col-md-1 me-1">
          <img src="/images/mizkifjog.gif" alt="userProfileImage" class="userImage" />
        </div>
        <div class="col-md-10 ms-3">
          <div id="details">
            <h3 class="d-inline me-1"><%= comment.author %></h3>
            <span class="badge rounded-pill bg-warning text-dark mx-1">
              <%= comment.semester %>
            </span>
            <span class="badge rounded-pill bg-danger text-dark mx-1"">
              <%= comment.major %>
            </span>
          </div>
          <p id="commentBody"><%= comment.body %></p>
        </div>
      </div>
    </article>
    <% } %>
  </div>
</section>
