<section class="text-light" id="forum">
  <h2>Forum</h2>
  <hr />
  <!-- Create a new comment code below -->
  <article class="card text-light bg-dark">
    <div class="card-body">
      <h5 class="card-title text-primary mb-3">Join the discussion here!</h5>
      <form action="<%= data.moduleCode %>/newComment" method="POST">
        <div class="row mb-1 g-2">
          <div class="col-md-4">
            <label for="username" class="form-label">Username</label>
            <input
              class="form-control"
              type="text"
              name="author"
              id="username"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="semester" class="form-label">Semester</label>
            <select class="form-select" name="semester" id="semester" required>
              <option value="AY 20/21 Sem 2">AY 20/21 Sem 2</option>
              <option value="AY 20/21 Sem 1">AY 20/21 Sem 1</option>
              <option value="AY 19/20 Sem 2">AY 19/20 Sem 2</option>
              <option value="AY 19/20 Sem 1">AY 19/20 Sem 1</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="major" class="form-label">Major</label>
            <input
              class="form-control"
              list="listOfMajors"
              name="major"
              id="major"
              placeholder="Type to search.."
              required
            />
            <datalist id="listOfMajors">
              <option value="Architecture"></option>
              <option value="Biomedical Engineering"></option>
              <option value="Business Administration"></option>
              <option value="Business Administration (Accountancy)"></option>
              <option value="Business Analytics"></option>
              <option value="Chemical Engineering"></option>
              <option value="Chemistry"></option>
              <option value="Chinese Language"></option>
              <option value="Chinese Studies"></option>
              <option value="Civil Engineering"></option>
              <option value="Communications and New Media"></option>
              <option value="Computer Engineering"></option>
              <option value="Computer Science"></option>
              <option value="Data Science and Analytics"></option>
              <option value="Dentistry"></option>
              <option value="Economics"></option>
              <option value="Electrical Engineering"></option>
              <option value="Engineering Science"></option>
              <option value="English Language and Humanities"></option>
              <option value="English Literature"></option>
              <option value="Environmental Engineering"></option>
              <option value="Food Science and Technology"></option>
              <option value="Geography"></option>
              <option value="Global Studies"></option>
              <option value="History"></option>
              <option value="Industrial Design"></option>
              <option value="Industrial and Systems Engineering"></option>
              <option value="Information Security"></option>
              <option value="Information Systems"></option>
              <option value="Japanese Studies"></option>
              <option value="Landscape Architecture"></option>
              <option value="Law"></option>
              <option value="Life Sciences"></option>
              <option value="Malay Studies"></option>
              <option value="Material Science & Engineering"></option>
              <option value="Mathematics"></option>
              <option value="Mechanical Engineering"></option>
              <option value="Medicine"></option>
              <option value="Music"></option>
              <option value="Nursing"></option>
              <option value="Pharmaceutical Science"></option>
              <option value="Pharmacy"></option>
              <option value="Philosophy"></option>
              <option value="Physics"></option>
              <option value="Political Science"></option>
              <option value="Project & Facilities Management"></option>
              <option value="Psychology"></option>
              <option value="Quantitative Finance"></option>
              <option value="Real Estate"></option>
              <option value="Social Work"></option>
              <option value="Sociology"></option>
              <option value="South Asian Studies"></option>
              <option value="Southeast Asian Studies"></option>
              <option value="Statistics"></option>
              <option value="Theatre and Performance Studies"></option>
            </datalist>
          </div>
          <div class="col-md-12 mb-2">
            <label for="body" class="form-label">Comment</label>
            <textarea
              class="form-control"
              name="body"
              id="body"
              rows="3"
              required
            ></textarea>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </article>
  <!-- Display number of comments -->
  <h2>
    <%= (comments.forum.length===1) ? `${comments.forum.length} Comment` :
    `${comments.forum.length} Comments` %>
  </h2>
  <!-- If no comments exists -->
  <% if (comments.forum.length === 0) { %> 
    <div class="row g-0 align-items-center justify-content-center mt-5">
      <div class="col-md-3">
        <img src="/images/peepochat.gif" alt="chattingGif">
      </div>
      <div class="col-md-7">
        <h3 class="text-primary">Be the first one to comment on this module!</h3>
      </div>
    </div>
  <% } %> 
  <!-- Listing out all comments that exist -->
  <div class="row g-0 mt-3">
    <% for (comment of comments.forum) { %>
    <article class="card bg-transparent border-dark col-12">
      <div class="row">
        <div class="col-md-1 me-1">
          <img src="/images/mizkifjog.gif" alt="userProfileImage" class="userImage" />
        </div>
        <div class="col-md-10 ms-3">
          <div id="details">
            <h3 class="d-inline me-1"><%= comment.author %></h3>
            <span class="badge rounded-pill bg-warning text-dark mx-1">
              <%= comment.semester %>
            </span>
            <span class="badge rounded-pill bg-danger text-dark mx-1"">
              <%= comment.major %>
            </span>
          </div>
          <p id="commentBody"><%= comment.body %></p>
        </div>
      </div>
    </article>
    <% } %>
  </div>
</section>
